.border p-3 {
    border-color: rebeccapurple;
}

.border{
    border-radius: 5px;
}

.col{
    font-size: x-large;
}

.col1{
    float: left;
    color : rebeccapurple;
}

.col2{
    float: right;
}

.btn Delete{
    width: 150px;
    display: block;
    color: white;
    background-color : #cdbfec;
    border-color: #e9e5f3;
    text-align: center;
    font-size: large;
}

.btn Update{
    float: left;
    width: 150px;
    display: block;
    color: white;
    background-color : #cdbfec;
    border-color: #e9e5f3;
    text-align: center;
    font-size: large;
}